{%  raw %}{% set name = "{% endraw %}{{ pkg_info.pkg_name }}{% raw %}" %}{% endraw %}
{%  raw %}{% set version = "{% endraw %}{{ pkg_info.pkg_version }}{% raw %}" %}{% endraw %}

package:
  name: {% raw %}"{{ name|lower }}"{% endraw %}
  version: {% raw %}"{{ version }}"{% endraw %}

source:
{%- if pkg_info.pkg_url.endswith('.git') %}
  git_url: "{{ pkg_info.pkg_url }}"
  git_rev: "{% raw %}{{ version }}{% endraw %}"
{% elif pkg_info.pkg_url.startswith('file://') %}
  path: "{{ pkg_info.pkg_url[7:] }}"
{% else %}
  url: "{{ pkg_info.pkg_url }}"
  sha256: "{{ pkg_info.pkg_hash }}"
{% endif %}
build:
  number: 0
  noarch: python
{% if not pkg_info.pkg_url.endswith('.whl') %}  script: 'python -m pip install --no-deps --ignore-installed -vv .'{% else %}  script: 'python -m pip install --no-deps --ignore-installed -vv {{ pkg_info.pkg_url }}'{% endif %}

requirements:
  host:
{% for req in pkg_info.host_requirements %}    - {{ req }}
{% endfor %}
  run:
    - python
{% for req in pkg_info.pkg_requirements %}    - {{ req }}
{% endfor %}

{% set test_str = pkg_info.test.generate_conda_test_section() %}
{% if test_str %}{{ test_str }}{% endif %}

about:
  home: {{ pkg_info.metadata.home }}
  license: {{ pkg_info.metadata.license }}
{% if pkg_info.metadata.license_family %}  license_family: {{ pkg_info.metadata.license_family }}
{% endif %}  summary: {{ pkg_info.metadata.summary }}.
{% if pkg_info.metadata.doc_url %}  doc_url: {{ pkg_info.metadata.doc_url }}
{% endif %}{% if pkg_info.metadata.dev_url %}  dev_url: {{ pkg_info.metadata.dev_url }}
{% endif %}

extra:
  recipe-maintainers:
{% for m in pkg_info.metadata.recipe_maintainers %}    - {{ m }}
{% endfor %}
